# This is a basic workflow to help you get started with Actions

name: Google Scholar Toolkit

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: htmlsave
        run: python3 ./code/htmlsave.py oWQaPnwAAAAJ MOLPTqcAAAAJ OkEoChMAAAAJ -eRsYx8AAAAJ QjHw7ugAAAAJ Of8dNP0AAAAJ
        
      - name: html2ukvs
        run: |
          sudo apt-get install python3-bs4
          sudo apt-get install w3m
          python3 ./code/html2ukvs.py *.html
          
      - name: dedup
        run: |
          ./code/dedup.py *ukvs > comprehensive.ukvs
          wc *.ukvs
      - name: ukvsconvert
        run: |
          ./code/ukvsconvert.py --html --title "Article Results"  comprehensive.ukvs > results.html
          w3m -dump results.html
